# Register
*.log

# Project Files
.git
.git/
.gitignore
data/
__pycache__/
migrations/
venv/
models/
*.md
*.sqlite3

# Ignore Statics
prod_static/
prod_media/

# Internal Dockerfiles
Dockerfile
.dockerignore
*.yaml
*.yml
